* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: rgb(81, 68, 95);
  text-decoration: none;
  list-style: none;
}

header {
  position: relative;
  margin: auto;
  width: 100%;
}

body {
  background-color: rgba(64, 24, 103, 0.283);
  margin: 0;
}

img {
  width: 80px;
  height: 80px;
}

h1 {
  font-size: 30px;
}

/* hover effect text */
a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}
/* hover effect text */

.navbar {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: black;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li a {
  color: rgb(81, 68, 95);
  font-weight: 600;
  font-size: 25px;
}

/* form page contact.html */
main {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin-top: 20px;
  padding: 30px;
  display: block;
  background-color: white;
  border-radius: 10px;
  font-size: 20px;
}

.footer-form {
  text-align: center;
}

form .separation {
  width: 100%;
  height: 1px;
  background-color: rgba(38, 16, 60, 0.938);
}

form .body-form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

form .body-form .group {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form .body-form .left .group input {
  margin-top: 5px;
  padding: 10px 5px 10px 40px;
  border: 1px solid #c9c9c9;
  outline-color: #747cdf;
  border-radius: 5px;
}

form .body-form .left .group i {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 14px 9px;
  color: #747cdf;
}

form .body-form .right {
  margin-left: 40px;
}

form .body-form .right .group {
  height: 100%;
}

form .body-form .right .group textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 2px solid #747cdf;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 81%;
}

form .footer-form button {
  margin-top: 10px;
  width: 120px;
  height: 50px;
  background-color: #747cdf;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}

form .footer-form button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  .body-form {
    display: flex;
    flex-wrap: wrap; /* Ajuster l'alignement des éléments enfants */
  }

  .body-form .left,
  .body-form .right {
    width: 100%;
    margin-left: 0;
  }
  .navbar {
    height: 60px;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
}
